.header-brand-signup{
    display: flex;
  align-items: center;
  margin-left: 10px;
  position: fixed;
  top: 0;
  left: 0;
}

.header-brand-signup span {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.836);
}