.task-container {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  flex: 0 0 300px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  height: 200px;
  box-sizing: border-box;
  transition: transform 0.2s, box-shadow 0.2s;
}
.task-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.task-header {
  display: flex;
  justify-content: space-between;
  height: 20%;
  align-items: center;
  padding: 10px 0px;
}

.task-title {
  text-transform: capitalize;
  font-weight: bold;
  color: #2b2f32;
  font-size: large;
}

.delete-task-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #a0a0a2;
}

.delete-task-btn:hover {
  transform: scale(1.2);
  transition: transform ease 0.2s;
  color: #e62314;
}

.task-body {
  height: 50%;
}

.task-description {
  font-size: 0.73rem;
  word-wrap: break-word;
  color: #969697;
  padding: 0 3px;
  margin-top: 5px;
}

.task-footer {
  height: 30%;
}

.task-created-date {
  font-size: 0.73rem;
  color: #a2a2a4;
  font-weight: bold;
  display: flex;
  gap: 10px;
  align-items: center;
}

.tags-container {
  margin-top: 7px;
  width: 100%;
  display: flex;
  gap: 10px;
}

.task-tags {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(52, 83, 209, 0.799);
  font-weight: 600;
  background-color: #cad0ff5e;
  padding: 2px 5px;
  border-radius: 5px;
}
