.account-delete-overlay {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.364);
  width: 100%;
  height: 100vh;
  z-index: 4;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-delete-modal {
  background-color: white;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.086);
  padding: 20px;
}

.delete-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 5px;
}

.delete-message .delete-warning-icon {
  background-color: rgba(246, 81, 40, 0.351);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(214, 69, 33, 0.485);
}

.delete-message .delete-warning-icon p {
  border: 2px solid rgba(214, 69, 33, 0.91);
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(214, 69, 33, 0.91);
  font-size: 1rem;
  border-radius: 50%;
}

.delete-message h4 {
  margin-top: 5px;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.751);
}

.delete-message p {
  font-size: 0.7rem;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.36);
  font-weight: 500;
}

.delete-actions {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  margin-top: 10px;
}

.delete-actions button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 0px;
  border-radius: 5px;
  font-family: inherit;
}

.cancel-btn {
  color: rgba(0, 0, 0, 0.84);
  background-color: rgba(0, 0, 0, 0.077);
  width: 50%;
}

.cancel-btn:hover {
  background-color: #00000024;
  transition: all 0.1s ease;
}

.delete-btn-link {
  width: 50%;
  text-decoration: none;
}

.delete-btn {
  color: white;
  background-color: rgba(246, 82, 40, 0.91);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.delete-btn:hover {
  background-color: rgba(214, 69, 33, 0.91);
  transition: all 0.1s ease;
}
