body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password-container {
  background-color: white;
  text-align: center;
  height: fit-content;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.16);
}

.key-icon{
    margin: 10px auto 0px;
    background-color: #107cf728;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    outline: 5px solid #107cf70d;
}

.fa-key{
    color: #0d74eaf9;
}

.forgot-password-title {
  font-size: 1.45rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.799);
  margin-top: 10px;
}

.forgot-password-subtitle {
  font-size: 0.65rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.229);
  margin-top: 5px;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
  margin-top: 40px;
}

.input-label {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.799);
}

.input-field {
  padding: 5px;
  font-family: inherit;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.248);
  border-radius: 5px;
}

.input-field::placeholder {
  color: rgba(0, 0, 0, 0.248);
  font-weight: 600;
}

.input-field:focus{
    border: 2px solid #107cf7af;
}

.reset-password-button {
  margin-top: 20px;
  border: none;
  width: 100%;
  padding: 10px 0px;
  font-family: inherit;
  font-weight: bold;
  color: white;
  background-color: #107cf7af;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-password-button:hover {
  background-color: #107cf7c5;
}

.error-message-box-password-reset {
  position: fixed;
  top: 20px;
  width: fit-content;
  width: 300px;
  justify-content: center;
  display: flex;
}

.error-container-red-password-reset {
  padding: 12px 15px;
  background-color: rgba(238, 55, 55, 0.442);
  border-radius: 10px;
  font-weight: bold;
  color: rgba(150, 10, 10, 0.848);
  font-size: 0.8rem;
  width: fit-content;
  text-align: center;
}

.error-container-green-password-reset {
  padding: 12px 15px;
  background-color: rgba(31, 174, 23, 0.442);
  border-radius: 10px;
  font-weight: bold;
  color: rgb(9, 88, 5);
  font-size: 0.8rem;
  width: fit-content;
  text-align: center;
}
