body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
}

.login-card {
  padding: 20px 40px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  width: 450px;
  height: 500px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.186);
}

.login-title {
  font-size: 0.9rem;
  font-weight: 1000;
  color: #2c3c59;
  margin-top: 10px;
}

.login-subtitle {
  font-size: 0.7rem;
  margin-top: 7px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.432);
}

.login-form {
  margin-top: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  margin-top: 15px;
}

.form-group label {
  font-size: 0.8rem;
  font-weight: bold;
  color: #2c3c59;
}

.form-group input {
  padding: 10px;
  font-family: inherit;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.248);
  border-radius: 10px;
}

.form-group input::placeholder {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.248);
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.form-remember-me {
  align-items: center;
  display: flex;
  gap: 5px;
}

.form-remember-me input {
  cursor: pointer;
  outline: none;
}

.remember-me-txt {
  font-size: 0.7rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.432);
}

.forgot-password-link {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #107cf7af;
  text-decoration: underline solid #107cf7af;
  cursor: pointer;
  font-size: 0.7rem;
}

.forgot-password-link:hover {
  color: #107cf7df;
}

.sign-in-button {
  width: 100%;
  padding: 15px 10px;
  margin-top: 10px;
  border: none;
  border-radius: 7px;
  background-color: #107cf7af;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.sign-in-button:hover {
  background-color: #107cf7bf;
}

.sign-in-google-button {
  width: 100%;
  padding: 15px 10px;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.136);
  border-radius: 7px;
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: bold;
  color: #2c3c59c1;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
}

.sign-in-google-button:hover {
  border: 1px solid rgba(0, 0, 0, 0.253);
}

.signup-prompt {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.248);
  font-weight: bold;
  font-size: 0.8rem;
}

.signup-prompt .sign-up-link {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.248);
  font-weight: bold;
  font-size: 0.8rem;
  color: #107cf7af;
}

.dot-spinner {
  --uib-size: 1.1rem;
  --uib-speed: 0.9s;
  --uib-color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner-black {
  --uib-size: 1.1rem;
  --uib-speed: 0.9s;
  --uib-color: #4c4949;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}
