.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 13px 10px;
  background-color: rgba(255, 255, 255, 0.69);
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  border: #d5d5d7 solid 2px;
  padding: 7px 10px;
  border-radius: 10px;
  margin-left: 15px;
  width: 100%;
}

.header-left-container {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header-brand-homePage {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header-brand-homePage span {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.836);
}

.header-left input {
  border: none;
  outline: none;
  font-family: inherit;
  color: #2b2f32;
  background-color: transparent;
  width: 90%;
}

.header-right-homepage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-right: 10px;
  padding: 7px 15px;
  border-radius: 10px;
  width: fit-content;
  border: #d5d5d700 solid 2px;
  overflow: hidden;
}

.header-right-homepage:hover {
  border: #d5d5d7 solid 2px;
  transition: border 0.3s ease;
  cursor: pointer;
}

}
.account-name {
  flex: 1;
  text-transform: capitalize;
  color: #2b2f32;
  font-weight: 500;
  color: #686873;
  font-size: clamp(10px, 1vw + 0.5rem, 14px);
}

.account-actions {
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: fixed;
  right: 30px;
  top: 60px;
  padding: 10px;
  border-radius: 5px;
  height: 90px;
}

body::-webkit-scrollbar {
  display: none;
.danger-button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-weight: bold;
  padding: 10px 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.danger-button:hover {
  transition: all 0.2s ease;
}

.signout-button {
  color: #686873;
  border-bottom: 2px solid #e2e2e677;
  border-radius: 0px;
}

.signout-button:hover {
  background-color: #107cf72e;
  border-bottom: 2px solid #e2e2e600;
  color: rgb(73, 71, 71);
  border-radius: 5px;
}

.delete-account-button {
  margin-top: 3px;
  color: rgba(246, 82, 40, 0.91);
}

.delete-account-button:hover {
  background-color: rgba(246, 81, 40, 0.795);
  color: white;
}

